# 编辑器配置
.vscode/
# 依赖目录
node_modules/
# 构建输出
client/dist/
# 系统缓存文件
.DS_Store
Thumbs.db
# 日志、临时文件
*.log
npm-debug.log*
# 大型二进制文件 - 单独存放，不提交到git
models/**/*.glb
models/**/*.gltf
videos/**/*
images/**/*.jpg
images/**/*.jpeg
images/**/*.png
images/**/*.webp
images/**/*.ktx2
static-version
